<?xml version="1.0"?>

<model>
  <name>Sink</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>Lukasz Zielinski</name>
    <email>lzielinski66@gmail.com</email>
  </author>

  <description>
    Sink with a locker under, to be used in a kitchen.
  </description>
</model>
