<?xml version="1.0"?>

<model>
  <name>Work table</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>Lukasz Zielinski</name>
    <email>lzielinski66@gmail.com</email>
  </author>

  <description>
    Work table to be used in any workspace
  </description>
</model>
