<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="public_sim"   default="True"/>

  <arg name="sim_sufix" value="_public_sim"     if="$(arg public_sim)"/>
  <arg name="sim_sufix" value=""                unless="$(arg public_sim)"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tiago_2dnav)/config/rviz/navigation$(arg sim_sufix).rviz"/>

</launch>
