<?xml version="1.0" encoding="UTF-8"?>
<launch>
 <env name="GAZEBO_MODEL_PATH" value="$(find tiago_sim_integration)/models:$(optenv GAZEBO_MODEL_PATH)"/>
  <arg name="robot" default="steel"/>
  <arg name="map"   default="$(find tiago_sim_integration)/maps/012/map.yaml"/>
  <arg name="rviz"     default="true"/>
  <arg name="gzclient"     default="true"/>
  <arg name="localization"   default="amcl"/>
  <!-- <arg name="gzpose"         default="-x 3.0 -y -1.0 -z 0 -R 0.0 -P 0.0 -Y 70.0"/> -->
  <arg name="gzpose"         default="-x 2.5 -y -1.5 -z 0 -R 0.0 -P 0.0 -Y 3.1415"/>
  <arg name="actor_script"   default="sitting"/>
  <arg name="world"          default="$(find tiago_sim_integration)/worlds/lab_012_v1_actor_$(arg actor_script)"/>
  <arg name="recording" default="false"/>

  <include file="$(find tiago_sim_integration)/launch/tiago_navigation.launch">
      <arg name="robot"          value="$(arg robot)"/>
      <arg name="global_planner" value="navfn"/>
      <arg name="local_planner"  value="eband"/>
      <arg name="localization"   value="$(arg localization)"/>
      <arg name="public_sim"     value="True"/>
      <arg name="gzpose"         value="$(arg gzpose)"/>
      <arg name="world"          value="$(arg world)"/>
      <arg name="map"            value="$(arg map)"/>
      <arg name="rviz"           value="$(arg rviz)"/>
      <arg name="gzclient"       value="$(arg gzclient)"/>
      <arg name="recording"      value="$(arg recording)"/>
    </include>

</launch>
